@model IEnumerable<TestWeb1.Models.SanPham>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table id="productsTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    <tbody>

    </tbody>
@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>*@
}

</table>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetList", "Home")',
            type: "GET",
            dataType: "json",
            success: function (data) {
                var tableBody = $('#productsTable tbody');
                tableBody.empty(); // Xóa nội dung cũ
                $.each(data, function (index, emp) {
                    var row = '<tr>' +
                        '<td>' + emp.Ten + '</td>' +
                        '<td>' + emp.Mota + '</td>' +
                        '<td>' + emp.Price + '</td>' +
                        '</tr>';
                    tableBody.append(row);
                });
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    })
</script>